<div class="content table-responsive table-full-width">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>User</th>
      <th>Raised Against</th>
      <th>Type</th>

    </tr>
    </thead>
    <tbody>
    <tr>
      <td><a href="#">nomanwaris</a></td>
      <td><a href="#">ahmadmeo</a></td>
      <td><a href="#">paisay nahi diye</a></td>
    </tr>
    <tr>
      <td><a href="#">nomanwaris</a></td>
      <td><a href="#">ahmadmeo</a></td>
      <td><a href="#">paisay nahi diye</a></td>
    </tr>
    </tbody>
  </table>

</div>
