<nav class="navbar navbar-expand-lg navbar-light bg-light border border-right-0 border-info rounded">
  <a class="navbar-brand" routerLink="/main">Ask and Freelance</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse float-right" id="navbarSupportedContent">
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="inset">
          <img src="http://rs775.pbsrc.com/albums/yy35/PhoenyxStar/link-1.jpg~c200">
        </div>
      </li>
    </ul>

  </div>
</nav>

