<div class="mat-card card-color">
  <h4>Questions</h4>

  <div *ngFor="let q of Question" class="mat-card border-info   mb-3">
    <div class="row">
      <div class="col-md-2">
        <p class="card-text small question"><a href="#">{{q.user.username}} </a></p>
      </div>
      <div class="col-md-9">
        <p><a href="#">{{q.question.question}}</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9 small question">
        <p>10 views</p>
      </div>
      <div class="col-sm-2 small">
        <a href="#" class="card-link mat-card-subtitle">{{q.question.category}}</a>
        <a href="#" class="card-link mat-card-subtitle">{{q.question.category}}</a>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-9"></div>
      <button type="button" class="float-right btn btn-primary" (click)="delete_question(q.question._id)">Delete
        Question
      </button>
    </div>
    
    <hr>
  </div>

  <hr>
</div>
