<!--<div class="list-group">-->
  <!--<a href="#" class="list-group-item">Dashboard</a>-->
  <!--<a href="#" class="list-group-item">Users</a>-->
  <!--<a href="#" class="list-group-item">Questions</a>-->
  <!--<a href="#" class="list-group-item">Gigs</a>-->
  <!--<a href="#" class="list-group-item">Disputes</a>-->
  <!--<a href="#" class="list-group-item">Sign out</a>-->
<!--</div>-->
<div class="mat-card">
    <a routerLink="/main" class="list-group-item">Dashboard</a>
    <a routerLink="/main/user-list" class="list-group-item">Users</a>
    <a routerLink="/main/question-list" class="list-group-item">Questions</a>
    <a href="#" class="list-group-item">Gigs</a>
    <a href="#" class="list-group-item">Disputes</a>
    <a href="#" class="list-group-item">Sign out</a>
</div>
